:root{
    --orange: #F29F05;
    --brown: #363636;

}
.landing-page{
    background: url(./images/background-1.png);
    height: 100vh;
    padding: 2rem 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-n-links{
    display: flex;
    align-items: center;
}
.logo-n-links > ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
.logo-n-links > ul li{
    font-size: 18px;
    cursor: pointer;
    transition: .3s all;

}
ul li:hover{
    color: var(--orange);
}
.btns{
    display: flex;
    gap: 1rem;
}
.btns > li{
    color: var(--orange);
    background: #fff;
    padding: .8rem 1rem;
    font-size: 21px;
    cursor: pointer;
    border-radius: 8px;
}
.btns > button{
    background: var(--orange);
    border: 2px solid transparent;
    padding: 0 1rem;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}
.btns > button:hover{
    background-color: #fff;
    border: 2px solid;
    border-color: #F29F05;
    transition: all .2s;
}
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.contents .txt-area h1{
    font-size: 75px;
    color: var(--brown);
}
.contents .txt-area p{
    color: darkslategray;
}
.contents.img-area > img{
    width: 400px;
}